<h2 id="au_may_2017">Darwin, Australia, May 2017</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday May 5th, and runs until midday on Monday 8th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="http://www.mtbundy.com.au/">Mount Bundy Station</a>, close to Darwin in the Northern Territory.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! If you'd like to <a href="https://ti.to/ruby-australia/rails-camp-21-darwin">register</a>, you can either book a bed or a tent spot, which will cost you AU$300 or AU$250, respectively. But places are limited in both cases, so don't wait too long to <a href="https://ti.to/ruby-australia/rails-camp-21-darwin">reserve a spot</a>!</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
      <li>If camping, tent, mattress, sleeping bag, towel, etc</li>
      <li>If not camping, all linen is provided (towel, pillow, sheets, blankets)</li>
    </ul>
  </dd>
  <dt>Please Note</dt>
  <dd>
    <p>Please be aware that we will not be providing alcoholic beverages at Rails Camp Darwin as part of your ticket purchase.<br/>
    There is a bar in the camp ground that will have drinks for sale, and you are welcome to BYO into the camp as well.<br/>
    As always, we ask that you drink responsibly, and be respectful of those that do not wish to imbibe</p>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <ul>
      <li class="first">More details on the official <a href="https://bit.ly/rc-darwin">Rails Camp Darwin Website</a></li>
      <li>Join #rails-camp-attendees on the <a href="https://rubyau.slack.com">Ruby AU Slack</a> to stay informed</li>
      <li>Follow <a href="https://twitter.com/railscamp_au">@railscamp_au</a> on Twitter</li>
      <li class="last"><a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a></li>
    </ul>
  </dd>
</dl>
