<h2><a name="au_dec_2016"></a>Gold Coast, Australia, Dec 2016</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday December 9th, and runs until 10am on Monday 12th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="https://www.facebook.com/Koonjewarre-Accommodation-Activity-Centre-187284131318629/">Koonjewarre Accommodation & Activity Centre</a>, in the Gold Coast Hinterlands!.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! If you'd like to <a href="https://ti.to/ruby-australia/rails-camp-queensland-2016">register</a>, Standard tickets are AUD$310 with student and sponsored tickets also available. Tickets cover accomodation, food &amp; drinks, as well as transport to and from Gold Coast Airport or Robina Train Station.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel</li>
      <li>Sleeping Bag</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <p>Stay updated with Rails Camp news by following <a href="https://twitter.com/railscamp_au">@railscamp_au</a> and joining the <a href="https://rubyau-slack.herokuapp.com">Ruby Australia Slack</a>. You can also <a href="mailto:railscamp@ruby.org.au">email the organisers</a> at railscamp@ruby.org.au</p>
  </dd>
</dl>
