<h2><a name="usa_aug_2016">USA, Alturas Lake, Stanley, Idaho, August 2016</a></h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday August 26, and runs until morning on Monday August 29.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="http://www.recreation.gov/camping/alturas-lake-inlet/r/campgroundDetails.do?contractCode=NRSO&parkId=73936">Alturas Lake, Stanley, ID, United States</a></p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
  <p>Please do come along! If you'd like to <a href="http://west.railscamp.us/">register</a>, regular tickets are $350 (use diversity promo code is 'diversity-attendee' for a discounted ticket). Both tickets include food, accomodation, and bus ride to and from camp. There is a limit, and registering early will ensure you get a spot and gives us more time to organize amazing things. There will be some awesome outdoor recreation this year, like river rafting, beach volleyball, sailing, fishing, hiking, and swimming!</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Swimsuit</li>
      <li>Fishing Supplies (if you have any)</li>
      <li>River rafting apparel (google this)</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towels</li>
      <li>Sleeping Bag</li>
      <li>Pillowcase</li>
      <li>Your alcoholic beverages of choice, bus will be making a pit stop, don't worry!</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <p>
      You can follow <a href="https://twitter.com/railscamp_USA">@railscamp_USA</a> for all the updates.
    </p>
  </dd>
</dl>
