<h2><a name="scl_aut_2016">Somewhere Lovely, Scotland, Autumn 2016</a></h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Sometime in Autumn.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="https://www.google.com/search?site=&tbm=isch&source=hp&biw=1326&bih=734&q=somewhere+gorgeous+in+scotland&oq=somewhere+gorgeous+in+scotland&gs_l=img.3...1384.6497.0.6666.30.9.0.16.0.0.335.1231.2-1j3.4.0....0...1ac.1.64.img..10.3.985.YEyZYVpi-uY#tbm=isch&q=somewhere+lovely%2C+scotland">Somewhere Lovely, Scotland</a></p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
  <p>Please do come along! We'd love you to <a href="http://scotland.railscamp.eu/">register your interest</a>, and we'll take it from there. We'd envisage that tickets include food, accomodation, and bus ride to and from camp if necessary. There is a limit, and registering early will ensure you get a spot and gives us more time to organise amazing things.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Really WARM Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towels</li>
      <li>Sleeping Bag</li>
      <li>Pillowcase</li>
      <li>Your alcoholic beverages of choice, bus will be making a pit stop, don't worry!</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <p>
     You can follow <a href="https://twitter.com/railscampeu">@railscampeu</a> for all the updates.
    </p>
  </dd>
</dl>
