<h2><a name="scl_aut_2016">Comrie Croft, Scotland, Autumn 2016</a></h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Monday, the 26th of September, until Thursday, the 29th of September.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p><a href="https://www.google.de/maps/place/Comrie+Croft/@56.3847061,-3.942282,17z/data=!3m1!4b1!4m5!3m4!1s0x48889a75a11ab855:0x52173507d9b9d0a!8m2!3d56.3847031!4d-3.9400933?hl=en">Comrie Croft</a></p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
  <p>We're looking forward to seeing you in Scotland! <a href="http://scotland.railscamp.eu/#register">Registration</a> will start on Monday, the 4th of July. Check out <a href="https://scotland.railscamp.eu">Rails Camp Scotland</a> for more information. Tickets are limited!</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes (weather appropriate, probably something warm!)</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towels</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <p>
     You can follow <a href="https://twitter.com/railscampeu">@railscampeu</a> for all the updates.
    </p>
  </dd>
</dl>
