---
layout: default
---

<h2>Upcoming Events?</h2>

<ol id="events">
  <li><a href="#usa_aug_2018">USA, Shaffer's High Sierra Camp (Sierra City CA), August 2018</a></li>
  <li><a href="#au_november_2018">Australia, Camp Woodfield (Hobart TAS), November 2018</a></li>
</ol>

<p class="placeholder">Rails Camps are becoming regular fixtures in countries like Australia, New Zealand, UK, USA, Denmark and Poland. It would be awesome to see more happen elsewhere. Rails Camps happen because people make them happen. People like you.</p>

{% include events/hobart.html %}
{% include previous.html %}

<h2>Rails Camp Runs</h2>

<p>Often Rails Camps have charity runs as part of their event - <a href="http://railsrunners.org">Railsrunners</a> is built for this very purpose.</p>
