---
layout: default
---

<h2>Upcoming Events?</h2>

<ol id="events">
  <li><a href="#us_august_2019">McLeod, Montana, USA, August 2019</a></li>
  <li><a href="#au_nov_2019">Melbourne, Australia, November 2019</a></li>
</ol>

<p class="placeholder">Rails Camps are becoming regular fixtures in countries like Australia, New Zealand, UK, USA, Denmark and Poland. It would be awesome to see more happen elsewhere. Rails Camps happen because people make them happen. People like you.</p>

{% include events/mcleod.html %}

{% include events/melbourne.html %}

{% include previous.html %}
