---
layout: default
---

<h2>Upcoming Events?</h2>

<ol id="events">
  <li><a href="#au_may_2020">Adelaide, Australia, May 2020</a></li>
  <li><a href="#us_september_2020">North Cascades National Park, Washington, USA, September 2020</a></li>
</ol>

<p class="placeholder">Rails Camps are becoming regular fixtures in countries like Australia, New Zealand, UK, USA, Denmark and Poland. It would be awesome to see more happen elsewhere. Rails Camps happen because people make them happen. People like you.</p>

{% include events/adelaide.html %}
{% include events/cascades.html %}

{% include previous.html %}
