<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rails Camps</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body id="home">
  <div id="decorative-element-what-ya-gonna-do-about-it"></div>
  <div id="header">
    <h1><img src="images/logo.png" alt="Rails Camp" height="110" width="515"></h1>
    <p class="summary">Imagine yourself and a posse of like-minded ruby hackers on a country retreat with zero internet for a weekend of fun. You'll laugh, hack, learn, cry (well, you probably won&#8217;t cry&#8230; but you know&#8230; it felt poetic) and most likely play a crap-load of Werewolf.</p>
  </div>
  <div id="content">
    <h2>Upcoming Events?</h2>

    <ol id="events">
      <li><a href="#au_nov_2014">Perth, Australia, November 2014</a></li>
    </ol>

    <p class="placeholder">Rails Camps are becoming regular fixtures in countries like Australia, UK, USA, Denmark and Poland. It would be awesome to see more happen elsewhere. Rails Camps happen because people make them happen. People like you.</p>

    <h2 id="au_nov_2014">Perth, Australia, November 2014</h2>
    <dl>
      <dt>When</dt>
      <dd>
        <p>Starts on the afternoon of Friday November 14th, and runs until early on Monday 17th.</p>
      </dd>
      <dt>Where</dt>
      <dd>
        <p>At <a href="http://www.dsr.wa.gov.au/woodmanpoint">Woodman Point Recreation Camp</a>, beside the sunny beaches of Perth, Western Australia.</p>
      </dd>
      <dt>Price</dt>
      <dd>
        <p>$260 AUD - Includes Bus + Accommodation + Catering + (Linen: 2 Sheets/Pillow/Towel) + T-Shirts + Coffee + Drinks</p>
      </dd>
      <dt>Can Haz?</dt>
      <dd>
        <p><a href="https://doc-is-in.tito.io/ruby-australia/rails-camp-perth-2014">https://doc-is-in.tito.io/ruby-australia/rails-camp-perth-2014</a></p>
      </dd>
      <dt>What to Bring</dt>
      <dd>
        <ul>
          <li class="first">Clothes</li>
          <li>Laptop</li>
          <li>Camera</li>
          <li>Chargers</li>
          <li>Toothbrush &amp; Toiletries</li>
          <li>Towel</li>
          <li>Sleeping Bag</li>
          <li>Earplugs</li>
          <li>Powerboard</li>
          <li>Pillowcase if you so desire</li>
          <li>Your alcoholic beverages of choice</li>
          <li>Any medications you take regularly</li>
          <li>Snacks that you can&#8217;t live without</li>
          <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
        </ul>
      </dd>
      <dt>Busses</dt>
      <dd>
        <p>Buses will be available either from the Airport, or from the CBD (location is yet to be determined) at 5:00pm in the afternoon on the Friday. We'll ask you during the ticket process where you'd like to be picked up from.</p>
        <p>The bus will be leaving Woodman Point at 9:30am on Monday morning, heading back to either the CBD or the Airport. We need to be ready to leave at 9:15am to give us time to load up the luggage and make sure we leave on time. Journey time to the Airport is 45 minutes, to be safe assume we'll get there around 10:30am, then have to unload.</p>
      </dd>
      <dt>Get Involved</dt>
      <dd>
        <p>The <a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a> is where you&#8217;ll find announcements and discussions about projects, hardware, software, board games etc. Follow <a href="http://twitter.com/railscamp_au">@railscamp_au on Twitter</a> for the latest news and announcements.</p>
      </dd>
    </dl>

    <!--
      Keeping HTML below as a template for future events
    -->
    <!-- <ol id="events">
          <li><a href="#dk_october_2008">Svendborg, DK, October 2008</a></li>
          <li><a href="#de_october_2008">Naumburg, DE, October 2008</a></li>
          <li><a href="#au_november_2008">Adelaide, AU, November 2008</a></li>
        </ol>

        <h2><a name="au_november_2008"></a>Adelaide, Australia, November 2008</h2>
        <dl>
          <dt>When</dt>
          <dd>
            <p>Starts on the afternoon of Friday November 14th, and runs until midday on Monday 17th.</p>
          </dd>
          <dt>Where</dt>
          <dd>
            <p>At the <a href="http://www.woodhouse.org.au/">Woodhouse Activity Centre</a>, close to Adelaide in South Australia.</p>
          </dd>
          <dt>Can Haz?</dt>
          <dd>
            <p>Please do come along! If you'd like to <a href="http://railscamp08.eventwax.com/railscamp-november-2008">register</a>, you can either book a bed or a tent spot, which will cost you $100 or $80, respectively. But places are limited in both cases, so don't wait too long to <a href="http://railscamp08.eventwax.com/railscamp-november-2008">reserve a spot</a>!</p>
          </dd>
          <dt>What to Bring</dt>
          <dd>
            <ul>
              <li class="first">Clothes</li>
              <li>Laptop</li>
              <li>Camera</li>
              <li>Chargers</li>
              <li>Toothbrush &amp; Toiletries</li>
              <li>Towel</li>
              <li>Sleeping Bag</li>
              <li>Earplugs</li>
              <li>Powerboard</li>
              <li>Pillowcase if you so desire</li>
              <li>Your alcoholic beverages of choice</li>
              <li>Any medications you take regularly</li>
              <li>Snacks that you can&#8217;t live without</li>
              <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
            </ul>
          </dd>
          <dt>Get Involved</dt>
          <dd>
            <p>The <a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a> is where you&#8217;ll find announcements and discussions about projects, hardware, software, board games etc.</p>
          </dd>
        </dl> -->

    <h2>Previous Events</h2>

    <dl id="au_may_2014">
      <dt>Brisbane, Australia, May 2014</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.kindilan.net.au">Kindilan Outdoor Education & Conference Centre</a>, about an hour out of Brisbane, Australia.</li>
        </ul>
      </dd>
    </dl>

    <dl id="newzealand_2014">
      <dt>Mt. Cheeseman, New Zealand, 2014</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.mtcheeseman.co.nz/summer/">Mt Cheeseman</a>, a couple hours from Christchurch, New Zealand.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Yarramundi, NSW, Australia 2013</dt>
      <dd>
        <ul>
          <li class="first">At <a href="https://www.google.com.au/maps?q=YMCA+Camp+Yarramundi,+Springwood+Rd,+Yarramundi+NSW+2753&sll=-33.61889399999952,150.68040205817903&sspn=0.005441799363745109,0.013327289051862357&t=m&dg=opt&hq=YMCA+Camp+Yarramundi,&hnear=Springwood+Rd,+Yarramundi+New+South+Wales+2753&z=14">Camp Yarramundi</a>, 1hr drive from Sydney.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Bryant Pond, ME, USA, 2013</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.themainehouses.com/mountain_house/mountain_house.php">The Maine Mountain View House</a></li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Cologne, Germany, 2013</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://2013.railscamp.de/">Abenteuerhalle in Cologne</a>.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Melbourne, AU, Jun 2013</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.lordsomerscamp.org.au/">Lord Somers camp</a>, 1.5hrs drive from Melbourne.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Wellington, New Zealand 2013</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://ymcawellington.org.nz/campkaitoke/">Camp Kaitoke</a>, 30 minutes drive from Wellington</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Port Sorell, Tasmania, Australia 2012</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.campbanksia.com.au/">Camp Banksia</a>, 20 minutes drive from Devonport or 1 hour drive from Launceston.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Bryant Pond, ME USA, June 2012</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.themainehouses.com/mountain_house/mountain_house.php">The Maine Mountain View Houses</a>, Bryant Pond, ME USA.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Gold Coast Hinterland, Australia, June 2012</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.koonjewarre.com/">Koonjewarre, Springbrook</a>, 40 minutes drive from the Gold Coast, Queensland.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Mt Cheeseman, New Zealand, February 2012</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.mtcheeseman.co.nz/summer/">Mt Cheeseman</a>, a couple hours from Christchurch, New Zealand.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Adelaide, Australia, January 2012</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.woodhouse.org.au/">Woodhouse</a>, Piccadilly, just outside of Adelaide, Australia.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Cercedilla, Madrid, Spain, <abbr title='November'>Nov</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.reaj.com/info-albergue.asp?id=117"> Las Dehesas</a>, Youth Hostel, Cercedilla, Madrid</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Hamburg, Germany, <abbr title='October'>Oct</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.werkheim-hamburg.de/">WERKHEIM Hamburg</a>, Germany.</li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>Bryant Pond, <abbr title="Maine">ME</abbr>, <abbr title="United States of America">USA</abbr>, <abbr title="August">Aug</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">40 people</li>
          <li><a href="http://lh4.ggpht.com/_cj7Gq-oSOXA/SmUqbd69-LI/AAAAAAAABbQ/ao6V5fj9Uoc/s1024/dscn0346.jpg">Shared holiday house in Maine</a></li>
          <li><a href="http://backbonejs.org">Presentation on Backbone</a></li>
          <li><a href="http://railsmachine.com">Presentation on Operations</a></li>
          <li><a href="https://github.com/actsasbuffoon/rocket-io">Presentation on RocketIO</a></li>
          <li>Werewolf by <a href="http://www.flickr.com/photos/22036754@N03/3746681365/in/set-72157621657322715/">firelight</a></li>
        </ul>
      </dd>

      <dt>Lake Ainsworth, <abbr title="Australia">AU</abbr>, <abbr title="June">Jun</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">130 people</li>
          <li>cabins between Lake Ainsworth and the Pacific Ocean</li>
          <li>presentations on git, gems, APIs and more</li>
          <li>excellent coffee at Snapper's Corner</li>
        </ul>
      </dd>

      <dt>Wis&#x142;a, <abbr title="Poland">PL</abbr>, <abbr title="April">Apr</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">At <a href="http://www.przedwiosnie.pl/">Przedwio&#x15B;nie</a>, 2 hours out of Krak&oacute;w.</li>
          <li>Approximately 60 people from Poland, Germany, England</li>
          <li>Wrote daily 4000 lines of code (including 2600 while drinking), which test coverage is at 100%.</li>
          <li>Drank 40 liters of Club Mate.</li>
          <li>Eaten 50 kilograms of pizzas.</li>
          <li>Eaten 120 sausages.</li>
          <li>Drank 20 liters of vodka.</li>
          <li>Got 250 euro from a deposit for returned beer bottles.</li>
        </ul>
      </dd>
      <dt>Wellington, <abbr title="New Zealand">NZ</abbr>, <abbr title="March">Mar</abbr> 2011</dt>
      <dd>
        <ul>
          <li class="first">Approximately 44 people from all over Australia and New Zealand </li>
          <li>An average of over 10 cups of coffee per person.</li>
          <li>sessions on coffeescript, engines, web servers, Vim and more. </li>
          <li>fireside chats and peaceful surrounds</li>
          <li>Lots of hacking on Refinery, Rails Quest and others.</li>
        </ul>
      </dd>
      <dt>Perth, <abbr title="Australia">AU</abbr>, <abbr title="November">Nov</abbr> 2010</dt>
      <dd>
        <ul>
          <li class="first">Approximately 120 people from all over Australia</li>
          <li>15 minutes drive from Perth's CBD</li>
          <li>kegs of beer</li>
          <li>sessions on freelancing, mental health for developers, rvm, git, iPhone dev and more</li>
          <li>fireside chats</li>
          <li>many excellent hacking projects</li>
        </ul>
      </dd>
      <dt>Stowe Vermont, <abbr title="United States of America">USA</abbr>, <abbr title="September">Sep</abbr> 2010</dt>
      <dd>
        <ul>
          <li class="first">Approximately 34 people from all over New England</li>
          <li>session on Agile Development headed by <a href="http://www.enlightsolutions.com/">Dan Pickett</a></li>
          <li><a href="http://www.brenbarn.net/werewolf/rules.html">The Seer</a> managed to wipe out the entire village.</li>
        </ul>
      </dd>
      <dt>Canberra, <abbr title="Australia">AU</abbr>, <abbr title="April">Apr</abbr> 2010</dt>
      <dd>
        <ul>
          <li class="first">Approximately 120 people from all over Australia</li>
          <li>10 minutes drive from Canberra's CBD</li>
          <li>kegs of beer</li>
          <li>sessions on vim, <a href="http://www.carpetsforcommunities.org/">Carpets for Communities</a>, CoffeeScript and more</li>
          <li>Andrew Grimm vs. Michael Jackson</li>
          <li>heated debate on the future of Railscamp</li>
        </ul>
      </dd>
      <dt>West Greenwich, RI, <abbr title="United States of America">USA</abbr>, <abbr title="March">Mar</abbr> 2010</dt>
      <dd>
        <ul>
          <li class="first">Approximately 40 people from all over New England</li>
        </ul>
      </dd>
      <dt>Melbourne, <abbr title="Australia">AU</abbr>, <abbr title="November">Nov</abbr> 2009</dt>
      <dd>
        <ul>
          <li class="first"><a href="http://www.flickr.com/photos/benschwarz/4132752923/">130 people</a> from all over Australia</li>
          <li>Down by the beach</li>
          <li>sessions on MacRuby, being a better Rails coder, testing with Cucumber, Shell Show &amp; Tell, Vim, Warden, Kanban and more</li>
          <li><a href="http://github.com/chrislloyd/brains">Brains</a> Hacking</li>
          <li>Mob-driven Refactoring of <a href="http://github.com/bloopletech/gistory">Gistory</a></li>
          <li><a href="http://www.flickr.com/photos/benschwarz/4133612740/">An Amphitheatre</a></li>
        </ul>
      </dd>

      <dt>Margate, Kent, <abbr title="United Kingdom">UK</abbr>, <abbr title="October">Oct</abbr> 2009</dt>
      <dd>
        <ul>
          <li class="first">60 people from the all over Europe</li>
          <li><a href="http://www.flickr.com/photos/langalex/4029209763/">A Hostel all to ourselves</a></li>
          <li>sessions on Gems, Gemcutter &amp; Jeweler, Cucumber, CouchDB and Sphinx</li>
          <li>Coding Dojo</li>
          <li><a href="http://www.ipernity.com/doc/basti/6319273/in/album/155397?from=6319273&at=1256041356">A plethora of Tims</a></li>
          <li><a href="http://www.flickr.com/photos/srboisvert/4029393211/in/set-72157622626512486/">Epic Settlers</a></li>
          <li><a href="http://www.flickr.com/photos/langalex/4029206691/in/set-72157622627059726/">Long walks along the beach</a></li>
        </ul>
      </dd>

      <dt>Bryant Pond, <abbr title="Maine">ME</abbr>, <abbr title="United States of America">USA</abbr>, <abbr title="July">Jul</abbr> 2009</dt>
      <dd>
        <ul>
          <li class="first">30 people</li>
          <li><a href="http://lh4.ggpht.com/_cj7Gq-oSOXA/SmUqbd69-LI/AAAAAAAABbQ/ao6V5fj9Uoc/s1024/dscn0346.jpg">Shared holiday house in Maine</a></li>
          <li>sessions on gems and <a href="http://github.com/qrush/gemcutter/tree/master">Gemcutter</a>, localisation, CouchDB, <a href="http://rdoc.info/">rdoc.info</a>, Ruby in the enterprise, <a href="http://radiantcms.org/">Radiant</a> and more</li>
          <li><a href="http://lh5.ggpht.com/_cj7Gq-oSOXA/SmUsIoFlQeI/AAAAAAAABbk/EjMfjlYGO-o/s1024/dscn0365.jpg">Verandah Hacking</a></li>
          <li><a href="http://farm3.static.flickr.com/2530/3743324567_daaa2999a5.jpg">Smores</a></li>
          <li><a href="http://lh3.ggpht.com/_cj7Gq-oSOXA/SmUqb3yqeBI/AAAAAAAABbY/GrlbwtKO3tI/s1024/dscn0361.jpg">Frisbee</a></li>
          <li>Werewolf by <a href="http://www.flickr.com/photos/22036754@N03/3746681365/in/set-72157621657322715/">firelight</a></li>
          <li><a href="http://lh4.ggpht.com/_cj7Gq-oSOXA/SmUkhHjy4fI/AAAAAAAABaY/mVg542KIoXg/s800/dscn0355.jpg">Twitter game discussions and hacking</a></li>
        </ul>
      </dd>

      <dt>Gold Coast <abbr title="Queensland">QLD</abbr>, <abbr title="Australia">AU</abbr>, <abbr title="May">May</abbr> 2009</dt>
      <dd>
        <ul>
          <li class="first">80 people</li>
          <li>sessions on Cucumber, agile development and BDD, charity projects, and more</li>
          <li>The birth of <a href="http://github.com/toolmantim/bananajour/tree/master">Bananajour</a></li>
          <li>The continued evolution of <a href="http://github.com/rnielsen/twetter/tree/master">Twetter</a> and Duke</li>
          <li>Multiplayer Rubystein</li>
          <li><a href="http://www.flickr.com/photos/dylanfm/3545485461/in/pool-rails-camp">Wanderings</a>, <a href="http://www.flickr.com/photos/infusion/3551465836/in/pool-rails-camp">waterfalls</a> and <a href="http://www.flickr.com/photos/dylanfm/3546362028/in/pool-rails-camp">werewolf</a></li>
        </ul>
      </dd>

      <dt>Piccadilly <abbr title="South Australia">SA</abbr>, <abbr title="Australia">AU</abbr>, <abbr title="November">Nov</abbr> 2008</dt>
      <dd>
        <ul>
          <li class="first">70 people</li>
          <li>sessions on Merb, Sphinx, Encodings in 1.9, Cucumber, Freelancing, Testing Tools and more</li>
          <li><a href="http://flickr.com/photos/freelancing_god/3044094055/">A</a> <em><a href="http://flickr.com/photos/lachie/3039321529">lot</a></em> <a href="http://www.flickr.com/photos/lachlanhardy/3045949192/">of</a> <a href="http://flickr.com/photos/lachlanhardy/3045133143/">werewolf</a></li>
          <li>Obstacle course mishaps</li>
          <li><a href="http://flickr.com/photos/yob/3045123461/">Pancake breakfasts</a></li>
          <li><a href="http://www.flickr.com/photos/lachlanhardy/3045050937/">Mexican</a></li>
        </ul>
      </dd>

      <dt>Naumburg, <abbr title="Deutschland / Germany">DE</abbr>, <abbr title="November">Nov</abbr> 2008</dt>
      <dd>
        <ul>
          <li class="first">20 people from Germany and Finland</li>
          <li>sessions about Cucumber, CouchDB, Agile Development, Factory Girl and more
        </ul>
      </dd>

      <dt>Svendborg, <abbr title="Denmark">DK</abbr>, <abbr title="October">Oct</abbr> 2008</dt>
      <dd>
        <ul>
          <li class="first">A dozen people from around Europe</li>
          <li>morning runs</li>
          <li><a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q=langegyde+75,+denmark&sll=55.056251,10.453148&sspn=0.061353,0.129089&ie=UTF8&ll=55.044659,10.461624&spn=0.00997,0.018582&t=h&z=16">beautiful countryside</a></li>
        </ul>
      </dd>

      <dt>Downe, Kent, <abbr title="United Kingdom">UK</abbr>, <abbr title="August">Aug</abbr> 2008</dt>
      <dd>
        <ul>
          <li class="first">30 people from the UK, Europe and Australia</li>
          <li>sessions on CouchDB, RSpec, Ext JS, Sphinx and more.</li>
          <li><a href="http://www.flickr.com/photos/freelancing_god/2789356896/">Outdoor hacking</a></li>
          <li><a href="http://www.flickr.com/photos/kerrybuckley/2771566537/">Late night werewolf</a></li>
          <li><a href="http://dontforgetthewurst.com/">William Shatner</a></li>
        </ul>
      </dd>

      <dt>Kariong <abbr title="New South Wales">NSW</abbr>, <abbr title="Australia">AU</abbr>, <abbr title="June">Jun</abbr> 2008</dt>
      <dd>
        <ul>
          <li class="first">55 people</li>
          <li><a href="http://drnicwilliams.com/2008/06/18/what-is-gitjour-gemjour-starjour/">*jour gems</a> coming into their own</li>
          <li><a href="http://git.railscamp.net/projects/twetter">twetter</a> for local-network twitter</li>
          <li><a href="http://smartbomb.com.au/2008/6/25/rails-camp-three">an unexpected arrival</a></li>
        </ul>
      </dd>

      <dt>Bacchus Marsh <abbr title="Victoria">VIC</abbr>, <abbr title="Australia">AU</abbr>, <abbr title="November">Nov</abbr> 2007</dt>
      <dd>
        <ul>
          <li class="first">40 people</li>
          <li>15 bottles of wine</li>
          <li>15 cases of beer</li>
          <li><a href="http://flickr.com/photos/toolmantim/2079698126/">picturesque backdrop</a></li>
          <li>hungover hiking</li>
          <li>sessions on Ruby Cocoa, Git, Rspec, SCRUM and more</li>
          <li>half a dozen Ruby projects</li>
          <li>1 leather man-kilt</li>
        </ul>
      </dd>

      <dt>Somersby <abbr title="New South Wales">NSW</abbr>, <abbr title="Australia">AU</abbr>, <abbr title="June">Jun</abbr> 2007</dt>
      <dd>
        <ul>
          <li class="first">33 bunkers</li>
          <li>2 days of rain</li>
          <li>2 crazy campers</li>
          <li><a href="http://flickr.com/photos/teamaskins/495842327/">picturesque backdrop</a></li>
        </ul>
      </dd>
    </dl>
<!--     <h2>The Rails Camp Tee</h2>
    <p>Head on over to <a href="http://railscamptee.com/">railscamptee.com</a> for the wicked tees.</p> -->
    <h2>Rails Camp Runs</h2>
    <p>Often Rails Camps have charity runs as part of their event - <a href="http://railsrunners.org">Railsrunners</a> is built for this very purpose.</p>
  </div>

  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
  </script>
  <script type="text/javascript">
  _uacct = "UA-2475317-9";
  urchinTracker();
  </script>
</body>
</html>
