<h2 id="au_sept_2021">Adelaide, Australia, February 2022</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>February 4th–7th, 2022</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a target="_blank" href="https://www.woodhouse.org.au/">Woodhouse Activity Centre</a>, in the Adelaide Hills, a short distance from Adelaide city.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! <a target="_blank" href="https://ti.to/ruby-australia/railscamp-27/discount/RADRUBY">Tickets on sale</a></p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Warm clothes but also cool clothes as it's close to Winter.</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet - we expect there to be mobile reception available for people to hotspot off their own devices, but better safe than sorry!</li>
      <li><i>You may bring your own bedding, but a pillow, pillowcase, sheets, blanket, and a towel will be provided.</i></li>
    </ul>
  </dd>
  <dt>More Information</dt>
  <dd>
    <p>There is <a href="https://railscamp.com.au">a dedicated website</a> for the camp which includes details around buses and other transport options, and you can also follow <a href="https://twitter.com/railscamp_au">@railscamp_au</a> on Twitter for updates, and/or join in the discussions in the <code>#rails-camp-attendees</code> channel on the <a href="https://ruby.org.au/slack">Ruby Australia Slack workspace</a>.</p>
  </dd>
</dl>
