<h2 id="nz_may_2025">Auckland, New Zealand, May 2025</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Friday 9th May - Monday 12th May 2025</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="https://maps.app.goo.gl/jxKMwmKwHHs1Hekk9">Y Shakespear Lodge</a>, inside Shakespear Regional Park near Auckland, New Zealand.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! <a target="_blank" href="https://retreat.ruby.nz">Details and Tickets Here</a></p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Bedding (sleeping bag and pillow)</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Togs</li>
      <li>Torch</li>
      <li>Some warm clothing for the night</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet - we expect there to be Wifi & mobile reception available for people to hotspot off their own devices, but better safe than sorry!</li>
    </ul>
  </dd>
  <dt>More Information</dt>
  <dd>
    <p>There is <a href="https://retreat.ruby.nz">a dedicated website</a> for the camp which includes details around buses and other transport options, and join in the discussions in the <code>#ruby-retreat-2025</code> channel on the <a href="https://ruby.nz/">Ruby New Zealand Slack workspace</a>.</p>
  </dd>
</dl>
