<!-- this is a template for future events -->
<h2 id="us_april_2019">Bandera, TX, USA, April 2019</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>The evening of Friday, April 5th, 2019</p>
    <p>until</p>
    <p>The morning of Monday, April 8th, 2019</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="http://www.twinelmranch.com/">Twin Elms Dude Ranch</a> in Bandera, Texas. Close to San Antonio.</p>
  </dd>
  <dt>Can I Come?</dt>
  <dd>
    <p>Absolutely. Everyone is welcome. <a href="https://ti.to/railscamp-usa/rails-camp-south-2019">Buy a ticket!</a></p>
  </dd>
  <dt>Opportunity Tickets</dt>
  <dd>
    <p>
      Depending on how many scholarship sponsors and applicants we receive we'll either be able to help pay for your whole ticket or just a portion of it. Apply regardless and we'll keep you posted.
      <a href="https://us-south.rails.camp/opportunity-tickets/">Apply now!</a>
    </p>
  </dd>
  <dt>Temperatures</dt>
  <dd>
      <div>
          <p>April temps in Bandera range in:</p>
          <p>82° - 60°F (Americans)</p>
          <p>27° - 15°C (Everyone else)</p>
      </div>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li>Light clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush & Toiletries</li>
      <li>Towel</li>
      <li>Sleeping Bag</li>
      <li>Earplugs</li>
      <li>Pillow and Pillow case</li>
      <li>Pillowcase</li>
      <li>Medications</li>
      <li>Libations</li>
      <li>Snacks</li>
      <li>Anything you can't get offline (download in advance)</li>
    </ul>
  </dd>
  <dt>More Information</dt>
  <dd>
    <p>See <a href="https://us-south.rails.camp/">https://us-south.rails.camp/</a> for more details.</p>
  </dd>
</dl>
