<h2 id="usa_sep_2017">Camp Granite Lake, Colorado, USA, September 2017</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday September 1st, and runs until the morning on Monday 4th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="http://www.granitelakeweddings.com">Camp Granite Lake</a>, close to Boulder in Colorado.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Tickets are handled through <a href="http://west.railscamp.us/">the event-specific website</a>.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <p>All of these details are covered thoroughly on <a href="http://west.railscamp.us/prepare-schedule">the event-specific website</a>.</p>
  </dd>
</dl>
