<h2 id="us_september_2020">North Cascades National Park, Washington, USA, September 2020</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Tuesday September 1st, and runs until the morning of Friday the 4th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="https://west.railscamp.us/2020#lodging">North Cascades Environmental Learning Center</a>, on the shores of Diablo Lake in northern Washington.</p>
  </dd>
  <dt>Can I Come?</dt>
  <dd>
    <p>Please do come along! If you'd like to <a href="https://west.railscamp.us/2020">register</a>, you can book a bed in shared cabin-style accommodation (4 beds per bunk room) and this year there are 2 people per room tickets available during registration! If you’d like a private room, contact us for pricing.</p>
  </dd>
  <dt>Transportation</dt>
  <dd>
    <p>We highly recommend getting a rental car with friends this year because the event leads into Labor Day weekend. There is so much to explore between downtown Seattle, San Juan Islands, Vancouver and the North Cascades National Park. If you don’t want to drive or rent a car, we’ll still have a large bus bring you to camp from the Seattle International Airport.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire</li>
      <li>Your alcoholic beverages of choice – BYOB!</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Want to know more?</dt>
  <dd>
    <p>Contact us <a href-"https://west.railscamp.us/contact">here</a> with any questions.</p>
  </dd>
</dl>
