<!-- this is a template for future events -->
<h2 id="au_november_2018">Hobart, Australia, November 2018</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday November 23rd, and runs until midday on Monday 26th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="http://www.campwoodfield.com/index.html">Camp Woodfield</a>, close to Hobart in Tasmania.</p>
  </dd>
  <dt>Can I come?</dt>
  <dd>
    <p>Please do come along! Tickets go on sale <strong>August 13th at 9am</strong> (AEST)!</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Warm clothes - Tasmania can be cold at night!</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel*</li>
      <li>Sleeping Bag*</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire*</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
      <li><em>* Optional - bedding (a pillow, blanket, sheets and a towel) will be provided</em></li>
    </ul>
  </dd>
  <dt>More information</dt>
  <dd>
    <p>See <a href="https://railscamp24.wordpress.com/">https://railscamp24.wordpress.com/</a> for more details.</p>
  </dd>
</dl>
