<!-- this is a template for future events -->
<h2 id="us_august_2019">McLeod, Montana, August 2019</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>The evening of Friday, August 23rd, 2019</p>
    <p>until</p>
    <p>The morning of Monday, August 26th, 2019</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At Mimanagish Camp in McLeod, Montana.</p>
  </dd>
  <dt>Can I Come?</dt>
  <dd>
    <p>Absolutely. Everyone is welcome. <a href="https://west.railscamp.us">Buy a ticket!</a></p>
  </dd>
  <dt>More Information</dt>
  <dd>
    <p>See <a href="https://west.railscamp.us">https://west.railscamp.us</a> for more details.</p>
  </dd>
</dl>
