<h2 id="au_nov_2017">Melbourne, Australia, November 2017</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday November 10th, and runs until midday on Monday 13th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="http://www.camptoolangi.com.au">Camp Toolangi</a>, in the Yarra Valley northeast of Melbourne.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! If you'd like to register, keep an eye on <a href="https://rc22.carrd.co">the announcement site</a> - tickets go on sale August 1 at 9am AEST.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel</li>
      <li>Sleeping Bag</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
    </ul>
  </dd>
  <dt>Please Note</dt>
  <dd>
    <p>Please be aware that we will not be providing alcoholic beverages at Rails Camp Melbourne as part of your ticket purchase.<br/>
    However, you are welcome to BYO into the camp.<br/>
    As always, we ask that you drink responsibly, and be respectful of those that do not wish to imbibe</p>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <ul>
      <!--<li class="first">More details on the official <a href="https://bit.ly/rc-darwin">Rails Camp Darwin Website</a></li>-->
      <li>Join #rails-camp-attendees on the <a href="https://rubyau.slack.com">Ruby AU Slack</a> to stay informed</li>
      <li>Follow <a href="https://twitter.com/railscamp_au">@railscamp_au</a> on Twitter</li>
      <li class="last"><a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a></li>
    </ul>
  </dd>
</dl>
