<h2 id="au_oct_2024">Warrnambool, Australia, October 18th-21st, 2024</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>October 2024</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>Near Warrnambool.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf-vA6L9UJV3IpBkfl5HqBb6pat1BIz62Q6JIKeLMD8d_dTlQ/viewform?usp=sf_link">Expression of Interest</a></p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Warm clothes but also cool clothes as it's close to Winter.</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet - we expect there to be mobile reception available for people to hotspot off their own devices, but better safe than sorry!</li>
      <li><i>You may bring your own bedding, but a pillow, pillowcase, sheets, blanket, and a towel will be provided.</i></li>
    </ul>
  </dd>
  <dt>More Information</dt>
  <dd>
    <p>There is <a href="https://ruby-retreat-2024.vercel.app/">a dedicated website</a> for the camp which includes details around buses and other transport options, and you can also follow <a href="https://twitter.com/railscamp_au">@railscamp_au</a> on Twitter for updates, and/or join in the discussions in the <code>#rails-camp-attendees</code> channel on the <a href="https://ruby.org.au/slack">Ruby Australia Slack workspace</a>.</p>
  </dd>
</dl>
