<h2 id="au_may_2018">Brisbane, Australia, May 2018</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday May 18th, and runs until 10am on Monday 21st.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At
      <a href="http://www.ymcacamping.com.au/north-pine.html">YMCA's Camp North Pine</a>, next to Old Petrie Town in the North of Brisbane.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! If you'd like to register, tickets are now
      <a href="https://ti.to/ruby-australia/railscamp-23-north-pine/">on sale</a>. A very limited number of camping tickets will also be available.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Towel*</li>
      <li>Sleeping Bag*</li>
      <li>Pillow*</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Pillowcase if you so desire</li>
      <li>Your alcoholic beverages of choice</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
      <br>
      <br>
      <li>* Not required if you purchase the optional bedding package</li>
    </ul>
  </dd>
  <dt>Please Note</dt>
  <dd>
    <p>Please be aware that we will not be providing alcoholic beverages at Rails Camp North Pine as part of your ticket purchase.
      <br/> However, you are welcome to BYO into the camp.
      <br/> As always, we ask that you drink responsibly, and be respectful of those that do not wish to imbibe</p>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <ul>
      <li class="first">More details on the official
        <a href="https://railscamp23.wordpress.com">Rails Camp North Pine Website</a>
      </li>
      <li>Join #rails-camp-attendees on the
        <a href="https://rubyau.slack.com">Ruby AU Slack</a> to stay informed</li>
      <li class="last">Follow
        <a href="https://twitter.com/railscamp_au">@railscamp_au</a> on Twitter</li>
      <!-- <li class="last">
        <a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a>
      </li> -->
    </ul>
  </dd>
</dl>