<h2 id="au_may_2019">Perth, Australia, May 2019</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Friday May 10th, and runs until midday on Monday 13th.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At the <a href="http://www.dsr.wa.gov.au/woodmanpoint">Woodman Point Recreation Camp</a>, in Perth, Western Australia.</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Please do come along! Tickets aren&#8217;t quite available yet, but you can <a href="https://ti.to/ruby-australia/railscamp25">register interest</a> to be the first to know when they are.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <ul>
      <li class="first">Clothes</li>
      <li>Bathers (if you want to swim)</li>
      <li>Laptop</li>
      <li>Camera</li>
      <li>Chargers</li>
      <li>Toothbrush &amp; Toiletries</li>
      <li>Earplugs</li>
      <li>Powerboard</li>
      <li>Your alcoholic beverages of choice (bus will stop at shops)</li>
      <li>Any medications you take regularly</li>
      <li>Snacks that you can&#8217;t live without (bus will stop at shops)</li>
      <li>Any data, files etc that you&#8217;d normally rely on getting from the Internet</li>
      <li><i>Bedding (a pillow, blanket, sheets and a towel) will be provided</i></li>
    </ul>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <p>The <a href="http://groups.google.com/group/railscamp">Rails Camp Google group</a> is where you&#8217;ll find announcements and discussions about projects, hardware, software, board games etc.</p>
  </dd>
</dl>
