<h2 id="usa_aug_2018">Tahoe National Forest, USA, August 2018</h2>
<dl>
  <dt>When</dt>
  <dd>
    <p>Starts on the afternoon of Saturday August 18th, and runs until the morning on Tuesday 21st.</p>
  </dd>
  <dt>Where</dt>
  <dd>
    <p>At <a href="https://www.highsierracamp.com/">Shaffer's High Sierra Summer Camp</a> in Tahoe National Forest, California USA</p>
  </dd>
  <dt>Can Haz?</dt>
  <dd>
    <p>Buy your ticket through the <a href="http://west.railscamp.us/">Rails Camp US West</a> website.</p>
  </dd>
  <dt>What to Bring</dt>
  <dd>
    <p>Find out what to bring with our <a href="http://west.railscamp.us/packing">packing list</a>.</p>
  </dd>
  <dt>Get Involved</dt>
  <dd>
    <ul>
      <li class="first">Follow <a href="https://twitter.com/railscamp_USA">@railscamp_USA</a> on Twitter</li>
      <li class="last">Follow <a href="https://www.instagram.com/railscamp_USA/">@railscamp_USA</a> on Instagram</li>
    </ul>
  </dd>
</dl>
